* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.par {
  flex-direction: row;
}

.cont {
  margin: auto 10px 10px auto;
}

.border-gray {
  border: 1px solid gray;
}

.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

.cont-21 {
  display: none;
}

.cont-22 {
  display: flex;
}

/* .cont-1 {
  order: 1;
}
.cont-21 {
  order: 3;
}
.cont-3 {
  order: 2;
}
.cont-22 {
  order: 3;
}
.cont-4 {
  order: 4;
} */

.p-cont {
  flex-direction: column;
}

.p-cont-1,
.p-cont-2,
.p-cont-3,
.p-cont-4 {
}

@media screen and (max-width: 767px) {
  .par {
    flex-direction: column;
  }

  .cont-21 {
    display: flex;
  }

  .cont-22 {
    display: none;
  }

  /* .cont-1,
  .cont-2,
  .cont-3,
  .cont-4 {
    order: 1;
  } */
}
